* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.title {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 50px;
    border-bottom: 4px solid #009688;
    background-color: darkslategray;
    color: white;
}

body {
    position: relative;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
}

.dropdown-menu {
    transition: all 0.3s ease;
}

html,
body {
    height: 100%;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    padding: 0;
    background-color: #F5F5F5;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card:hover {
    border: solid 4px;
}

.hero {
    width: 100%;
    height: 350px;
    text-align: center;
    vertical-align: middle;
    background-color: darkslategray;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    padding-bottom: 20px;
}

h3 {
    font-style: normal;
    color: darkslategray;
}

main {
    background-color: #F5F5F5;
    width: 100%;
    overflow: hidden;
}

.guide {
    padding-left: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.custom_nav .nav-link {
    color: white;
}

.custom_nav .nav-link:hover {
    color: blueviolet;
}

.get-started-btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    transition: all 0.1s ease;
}

.get-started-btn:hover {
    background-color: #218838;
    transform: scale(1.05);
    color: #F5F5F5
}

.get-started-btn:active {
    background-color: #1e7e34;
    transform: scale(0.98);
}

.x {
    border-radius: 0 !important;
    border: none!important;
}

.x:hover {
    border: 1px solid white !important;
}

.x:active {
    border: 2px solid white !important;
}

.card-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.6s ease;
}

.card-title:hover {
    -webkit-line-clamp: unset;
    overflow: visible;
}

.card-text1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.6s ease;
}

.card-text1:hover {
    -webkit-line-clamp: unset;
    overflow: visible;
}

#y {
    width: 100%;
    height: auto;
    background-image: url(images/back3.jpg);
    padding-top: 100px;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
    background-position: top left;
}

.logo {
    height: 40px;
    width: 40px;
    background-image: url('images/logo.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
    border-radius: 25px;
}

.get-started-btn:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar-toggler i {
    border-color: #F5F5F5;
    color: white;
}